.error-msg {
    color: red;
    font-size: larger;
}

.text-justify {
    text-align: justify;
}

.pdf {
    width: 100%;
    aspect-ratio: 4 / 3;
}

.pdf,
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1,
h3 {
    text-align: center;
}

h1 {
    color: green;
}

.student_login_form {
    margin: 10px 30%;
    padding: 8px;
    /*background-color: azure;*/
    border: 1px solid black;
    border-radius: 25px;
}

.student_login_form input {
    padding-left: 15px;
    width: 100%;
    border: 1.3px solid black;
    border-radius: 12px;
}

.student_login_form input[type=submit] {
    margin-left: 40px;
    margin-top: 6px;
    padding: 4px 7px;
    width: 60%;
    border: 1.3px solid black;
    border-radius: 12px;
    background-color: green;
}


@media  screen and (max-width: 1225px) {
    .md-hidden {
        display: none;
    }
}

@media  screen and (max-width: 1100px) {
    .sm-hidden {
        display: none;
    }
}

@media  screen and (max-width: 900px) {
    .xsm-hidden {
        display: none;
    }
}

@media  screen and (max-width: 700px) {
    .xxsm-hidden {
        display: none;
    }
}

@media  screen and (max-width: 600px) {
    .xxxsm-hidden {
        display: none;
    }
}

@media  screen and (max-width: 500px) {
    .xxxxsm-hidden {
        display: none;
    }
}

@media  screen and (max-width: 400px) {
    .xxxxxsm-hidden {
        display: none;
    }
}