@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@400..700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Redressed&display=swap");

.text-justify {
  text-align: justify;
}

.coul-gris-pale5 {
  background-color: rgba(32, 45, 51, 0.05);
}

.font-dance {
  font-family: "Dancing+Script", serif;
}

.font-pacifico {
  font-family: "Pacifico", serif;
}

.font-playfair {
  font-family: "Playfair+Display", serif;
}

.font-redressed {
  font-family: "Redressed", cursive;
}

/* Personnalisation de la navbar. */
.navbg {
  background-color: rgba(0, 0, 0, 0.6);
  font-family: "Playfair", serif;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
  z-index: 2;
}

.navbg .nav-link {
  border-bottom: 2px solid transparent;
  transition: padding-bottom 0.3s ease-in, border-color 0.4s ease-in-out;
}

.navbg .nav-link:hover {
  padding-bottom: 15px;
  border-bottom-color: var(--bs-teal);
}

.navbouton {
  color: var(--bs-teal);
  border-color: aqua;
}

/* Personnalisation de l'entete de la page d'acceuil. */
.ac-height {
  /* height: 850px; */
  z-index: -2;
}

.entete-bg {
  background-color: rgba(0, 0, 0, 0.6);
}
